@model VaccinationCampaignUI.Models.MedicalInstitution;

<form method="post">
    <label>idболезни</label>
    <input type="text" name="NameMedInst" value="@Model.NameMedInst" />
    <br />
    <label>Описание</label>
    <input type="text" name="AdressMedInst" value="@Model.AdressMedInst" />
    <br />
    <label>Доза</label>
    <input type="text" name="AppealId" value="@Model.AppealId" />
    <br />

    <input type="submit" asp-action="Edit" asp-controller="MedicalInstitution" value="Edit" />
</form>