@model VaccinationCampaignUI.ViewModels.VaccineViewModel;

<form method="post">
    <label>Болезнь</label>
    <select name="diseaseId" asp-items="@(new SelectList(Model.Diseases, "Id", "Name"))"></select>
    <br />
    <label>Описание</label>
    <input type="text" name="DescriptionVacc" value="" />
    <br />
    <label>Доза</label>
    <input type="text" name="Dose" value="" />
    <br />
    <label>Производитель</label>
    <input type="text" name="Manufacturer" value="" />
    <br />

    <input type="submit" asp-action="Create" asp-controller="Vaccine" value="Create" />
</form>