@model VaccinationCampaignUI.Models.Vaccine;

<form method="post">
    <label>idболезни</label>
    <input type="text" name="DiseaseId" value="@Model.DiseaseId" />
    <br />
    <label>Описание</label>
    <input type="text" name="DescriptionVacc" value="@Model.DescriptionVacc" />
    <br />
    <label>Доза</label>
    <input type="text" name="Dose" value="@Model.Dose" />
    <br />
    <label>Производитель</label>
    <input type="text" name="Manufacturer" value="@Model.Manufacturer" />
    <br />

    <input type="submit" asp-action="Edit" asp-controller="Vaccine" value="Edit" />
</form>