@model VaccinationCampaignUI.Models.Disease;

<form method="post">
    <label>Код</label>
    <input type="text" name="Code" value="" />
    <br />
    <label>Название болезни</label>
    <input type="text" name="NameDis" value="" />
    <br />

    <input type="submit" asp-action="Create" asp-controller="Disease" value="Create" />
</form>