@model VaccinationCampaignUI.Models.Disease;

<form method="post">
    <label>Код</label>
    <input type="text" name="Code" value="@Model.Code" />
    <br />
    <label>Название болезни</label>
    <input type="text" name="NameDis" value="@Model.NameDis" />
    <br />

    <input type="submit" asp-action="Edit" asp-controller="Disease" value="Edit" />
</form>