@model VaccinationCampaignUI.ViewModels.VaccinationViewModel;

<form method="post">
    <label>Название вакцины</label>
    <input type="text" name="NameVaccine" value="" />
    <br />
    <label for="localdate">Дата и время: </label>
    <input type="datetime-local" name="Date" value="" />
    <br />
    <label>Номер дозы</label>
    <select name="vaccineId" asp-items="@(new SelectList(Model.Vaccines, "Id", "Name"))"></select>
    <br />
    <label>Пациент</label>
    <select name="patientId" asp-items="@(new SelectList(Model.Patients, "Id", "Name"))"></select>
    <br />

    <label>Мединститут</label>
    <select name="MedicalInsId" asp-items="@(new SelectList(Model.Institutions, "Id", "Name"))"></select>
    <br />


    <input type="submit" asp-action="Create" asp-controller="Vaccination" value="Create" />
</form>