@model VaccinationCampaignUI.Models.Address;

<form action="create" method="post">
    <label>Введите страну</label>
    <br />
    <input type="text" name="coutry" value="" />
    <br />

    <label>Введите область</label>
    <br />
    <input type="text" name="region" value="" />
    <br />

    <label>Введите улицу</label>
    <br />
    <input type="text" name="locality" value="" />
    <br />

    <label>Введите дом </label>
    <br />
    <input type="text" name="hous" value="" />
    <br />

    <label>Квартиру</label>
    <br />
    <input type="number" name="flat" value="" />
    <br />

    <input type="submit" value="Create" />
</form>